extends ./layout/layout

block title
  title Layout step results

block content
  table.results-table.first-step-results
    thead
      tr
        th Participant
        - var i = 1
        while i <= countOfTasks
          th(data-col="#{i}") Task #{i}
            button.js-sort Sort
          - i++
        th(data-col="#{i}") Total
          button.js-sort Sort
    tbody
      each user in users
        tr
          td #{user.firstName} #{user.lastName}
          - i = 1
          while i <= countOfTasks
            td
              if user.tasks[i]
                span.sort-item= user.tasks[i]
                span /
                a(href="/saveFile/#{user.id}_#{user.username}/task_#{i}") file
            - i++
          td
            span.sort-item= user.totalTime

block scripts
  script(src="scripts/main.js")
