extends ./layout/layout

block title
  title Results

block content
  h3 First step marks
  table.results-table.total-results.total-results-first-step(data-step=1)
    thead
      tr
        th Participant
        - var i = 1
        while i <= countOfFirstStepTasks
          th(data-col="#{i}") Task #{i}
            button.js-sort Sort
          - i++
        th(data-col="#{i}") Total
          button.js-sort Sort
    tbody
      each user in firstStepResults
        tr(data-id="#{user.userId}")
          td #{user.firstName} #{user.lastName}
          - i = 1
          while i <= countOfFirstStepTasks
            td.task-mark.js-step-results(data-task="#{i}")
              if user.tasks[i]
                span.sort-item= user.tasks[i]
              else
                span 0
            - i++
          td
            span.sum.sort-item= user.totalMark

  h3 CSS Quiz marks
  table.results-table.total-results.total-results-quiz-step(data-step=2)
    thead
      tr(data-id="#{user.userId}")
        th Participant
        - var i = 1
        while i <= countOfQuizTasks
          th(data-col="#{i}") Task #{i}
            button.js-sort Sort
          - i++
        th(data-col="#{i}") Total
          button.js-sort Sort
    tbody
      each user in quizStepResults
        tr(data-id="#{user.userId}")
          td #{user.firstName} #{user.lastName}
          - i = 1
          while i <= countOfQuizTasks
            td.task-mark.js-step-results(data-task="#{i}")
              if user.tasks[i]
                span.sort-item= user.tasks[i]
              else
                span 0
            - i++
          td
            span.sum.sort-item= user.totalMark

block scripts
  script(src="scripts/main.js")
